<div class="gato">
<div class="cont-item"><h1 class="cont-tile">Referencias</h1></div>
<div class="cont-item"></div>
<div class="cont-item">
    
    <ol >  
      <li class="ref-list" value="1">Sommerville, Ian (2005). Ingeniería del software (7ma. edición). Madrid: Pearson Educación S.A.</li>
      <li class="ref-list">Chrissis, Mary Beth, Konrad, Mike y Shrum, Sandy. CMMI for Development: Guidelines for Process Integration and Product Improvement. s.l. : Addison Wesley, 2011. ISBN-10: 0321711505.</li>
      <li class="ref-list">Institute, Project Management. A Guide to the Project Management Body of Knowledge(PMBOK® Guide) . s.l. : Project Management Institute, 2013. ISBN-10 1935589679.</li>
      <li class="ref-list">Fakhroutdinov, Kirill. uml-diagrams.org/sequence-diagrams. uml.org. [En línea] https://www.uml-diagrams.org/sequence-diagrams.html.</li>
      <li class="ref-list">Fakhroutdinov, Kirill. uml-diagrams.org/class-diagrams-overview. uml.org. [En línea] https://www.uml-diagrams.org/class-diagrams-overview.html.</li>
      <li class="ref-list">http://dle.rae.es/?id=DeCBDdp</li>
      <li class="ref-list">Schildt, Helbert. Java, Manual de referencia (7 edición). Mc Graw Hill. p. 105</li>
      <li class="ref-list">Pressman, Roger S. Ingenieria del Software - Un Enfoque Practico. s.l. : McGraw-Hill Companies, 2010. ISBN: 9786071503145 .</li>
     </ol> 
</div>
<div class="cont-item"></div>
  
    </div>