

    <div class="History">
      <div class="History-item"></div>
      <div class="History-item">
    <article class="wrapper">
        <section class="split">
            <aside class="splite-block">
                <div class="image splite-item">
                    <img  src="/assets/img/chatada.png"  >
                </div>
                <div class="flex-container splite-item">
                    <h5 class="title">¿Como hablo con Ada?</h5>
                    <div class="text">  
                       <p>Para poder hablar con Ada deberán tener en cuenta que funcionará 
                          como cualquier chat que ya
                        hallas utilizado antes, simplemente da clic dentro del rectangulo que indica
                         la imagen y podras escribir.</p>
                        
                    </div>  
                       
                </div>
            </aside>
            <aside class="splite-block">
                    <div class="image splite-item">
                        <img  src="/assets/img/selec-asig.png"   >
                        </div>
                        <div class="flex-container splite-item">
                            <h3 class="title">¿Como selecciono una asignatura?</h3>
                            <div class="text">  
                               <p>Para seleccionar una asginatura deberas en a la barra de menu que se encuentra
                                  en la parte superior y pinchar la opcion "Asignatura", esto te mostrara las 
                                  asignaturas a las que Ada podra darte su ayuda, solo deberas pinchar la que necesites para 
                                  que te redireccione al chat de respectiva asignatura.</p>
                            
                            </div>  
                               
                        </div>
            </aside>  
            <aside class="splite-block">
                <div class="image splite-item">
                    <img  src="/assets/img/suge.png"  >
                    </div>
                    <div class="flex-container splite-item">
                        <h3 class="title">¿Como enviar una sugerencia?</h3>
                        <div class="text">  
                           <p>Dentro del menu se encuentra la opcion "Sugerencias" para que nos envies tu opinion
                              respecto al funcionamiento de Ada, para realizar este proceso sera ten sencillo como pinchar en las 
                              estrellas para calificanor y luego escribir un comentario sobre Ada, pero recuerda quiereambos campos son 
                              necesarios para poder dar en el boton de enviar.</p>
                           
                        </div>  
                           
                    </div>
        </aside>  
        <aside class="splite-block">
            <div class="image splite-item">
                <img  src="/assets/img/ref.png"  >
                </div>
                <div class="flex-container splite-item">
                    <h3 class="title">¿De donde se obtiene la información?</h3>
                    <div class="text">  
                       <p>Recuerda que Ada siempre te entregara informacion actualizada 
                          y totalmente confiable para demostrar esto existe una seccion de 
                          "Referencias" dentro de nuestro menu que al ingresar te mostrara de donde 
                          se obtiene la información que Ada te esta entregando</p>
                        
                    </div>  
                       
                </div>
    </aside>    
        </section>
    </article>
  </div>
  </div>