

<!--<div class="container caja">
  <h1 class="fadeIn fast titulo">Bienvenido al Asistente Virtual
     Universitario AVU</h1>
     <div class="row">
        <div class="col-md-6">
            <p class="parrafo fadeIn animated">
            AVU es un profesor en linea que contestara todas tus dudas del ramo 
            de ingeniería de software, este profesor te puede ayudar las 24 horas 
            del día los 7 días de la semana y siempre con el mejor animo¡¡.
            <br/>
            El secreto de este profesor radica en que en realidad es una inteligencia 
            artificial que siempre tendrá la mejor y mas actualizada respuesta para 
            ayudarte en tus estudios.
            </p>
          </div>
    
          <div class="col-md-5 fadeIn low">
              <img src="/assets/img/profe.png" 
               alt="">
          </div>
    </div>
</div>-->
<!-- <div class="acer">
<div class="acer1">
    <p class="parrafo ">
        ADA es una profesora en línea que contestará todas tus dudas del ramo 
        de ingeniería de software, esta profesora te puede ayudar las 24 horas 
        del día los 7 días de la semana y siempre con el mejor ánimo!!.
        <br/>
        El secreto de esta profesora radica en que en realidad es una inteligencia 
        artificial que siempre tendrá la mejor y más actualizada respuesta para 
        ayudarte en tus estudios.
        </p>
</div>
<div class="acer2">
    <img class="img" src="/assets/img/profe.png" 
    alt="">
    </div>
</div> -->

<article class="wrapper">
    <section class="split">
        <aside class="splite-block">
            <div class="image splite-item">
                <img src="/assets/img/profe.png">
            </div>
            <div class="flex-container splite-item">
                <h3 class="title">Bienvenido a ADA</h3>
                <div class="text">  
                   <p class="parr"> ADA es una profesora en línea que contestará todas tus dudas del ramo 
                    de ingeniería de software, esta profesora te puede ayudar las 24 horas 
                    del día los 7 días de la semana y siempre con el mejor ánimo!!.</p>
                   <p class="parr">El secreto de esta profesora radica en que en realidad es una inteligencia 
                    artificial que siempre tendrá la mejor y más actualizada respuesta para 
                    ayudarte en tus estudios.</p> 
                </div>  
                   
            </div>
        </aside>
        <!-- <aside class="splite-block">
                <div class="image splite-item">
                        <img src="/assets/img/profe.png">
                    </div>
                    <div class="flex-container splite-item">
                        <h3 class="title">Bienvenido a ADA</h3>
                        <div class="text">  
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, 
                               nam recusandae architecto aut, molestias tenetur error fuga voluptatibus 
                               sunt fugiat aliquid doloribus cumque optio numquam, incidunt magnam? Recusandae, 
                               laboriosam cum.</p>
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus 
                               eius impedit quis officia! Maiores explicabo, ratione facilis, corrupti 
                               veritatis ab eius, suscipit itaque modi non quas assumenda reiciendis eaque 
                               quos!</p> 
                        </div>  
                           
                    </div>
        </aside>     -->
    </section>
</article>

