
.pancho{
   color:white !important;
    border-top:2px solid white !important;
    border-bottom: 2px solid  white !important;
    width: 100%;
}
.pancho1{
   /* margin-top: 10%;
   margin-left: 7%; */
   margin: 1rem;
   padding: 1rem;
   width: 95%;
   margin-right: 7%;

}

.potato{
    color: white !important;
    border: 1px  !important;
    border-bottom-color: white !important;
    font-size: 12px !important;
    
}
.abajito{
    margin: 1rem;
    padding: 1rem;
    bottom: 0;
    /* float: left; */
    position: fixed;
   margin-left: 0%;
    width: 23%;
   justify-content:center;
}
.letra{
    font-size: 13px !important;
    text-decoration: none;
    color: white;
   
}

.cohete{
    margin-top: 3%;
   
}