
<!-- 
<div class=" pancho1 btn-group-vertical pancho1-item " >
  
  <button type="button"  [routerLink]="['chat']" class="pancho btn-outline-danger "><i class="fas fa-book fa-lg"></i> Ingeniería de software</button>
  <button type="button" class="pancho btn-outline-danger  "><i class="fas fa-book fa-lg"></i> Materia 2</button>
  <button type="button" class="pancho btn-outline-danger "><i class="fas fa-book fa-lg"></i> Materia 3</button>
  <button type="button" class="pancho btn-outline-danger "><i class="fas fa-book fa-lg"></i> Materia 4</button>
  <button type="button" class="pancho btn-outline-danger  "><i class="fas fa-book fa-lg"></i> Materia 5</button>
</div> -->

<div class="row">
<div class="col-sm-12 col-md-6 col-lg-4 ">
    <button type="button"  [routerLink]="['chat']" class="btn btn-danger btn-lg cohete "><i class="fas fa-book fa-lg"></i> Ingeniería de Requerimientos</button>
</div>
<!-- <div class="col-sm-12 col-md-6 col-lg-4  ">
    <button type="button"  [routerLink]="['chat']" class="btn btn-danger cohete"><i class="fas fa-book fa-lg"></i> Ingeniería de software</button>
</div>
<div class="col-sm-12 col-md-6 col-lg-4  ">
    <button type="button"  [routerLink]="['chat']" class="btn btn-danger cohete"><i class="fas fa-book fa-lg"></i> Ingeniería de software</button>
</div>
<div class="col-sm-12 col-md-6 col-lg-4 ">
    <button type="button"  [routerLink]="['chat']" class="btn btn-danger cohete"><i class="fas fa-book fa-lg"></i> Ingeniería de software</button>
</div>
<div class="col-sm-12 col-md-6 col-lg-4 ">
    <button type="button"  [routerLink]="['chat']" class="btn btn-danger cohete"><i class="fas fa-book fa-lg"></i> Ingeniería de software</button>
</div>
<div class="col-sm-12 col-md-6 col-lg-4 ">
    <button type="button"  [routerLink]="['chat']" class="btn btn-danger cohete"><i class="fas fa-book fa-lg"></i> Ingeniería de software</button>
</div>
<div class="col-sm-12 col-md-6 col-lg-4 ">
    <button type="button"  [routerLink]="['chat']" class="btn btn-danger cohete"><i class="fas fa-book fa-lg"></i> Ingeniería de software</button>
</div>
<div class="col-sm-12 col-md-6 col-lg-4 ">
    <button type="button"  [routerLink]="['chat']" class="btn btn-danger cohete"><i class="fas fa-book fa-lg"></i> Ingeniería de software</button>
</div>
<div class="col-sm-12 col-md-6 col-lg-4 ">
    <button type="button"  [routerLink]="['chat']" class="btn btn-danger cohete"><i class="fas fa-book fa-lg"></i> Ingeniería de software</button>
</div> -->
</div>





